:root {
  --northern: #000;
  --metropolitan: #840b55;
  --circle: #ffcd00;
  --victoria: #01a3e0;
  --piccadilly: #10069f;
  --hammersmith: #e89cae;
}


.art {
  display: grid;
  grid-template-columns: repeat(auto-fill, 60px);
  grid-template-rows: repeat(auto-fill, 60px);
  justify-content: center;
  overflow: hidden;
}

.square {
  width: 60px;
  height: 60px;
  background: tomato;
  transform: skew(0, -40deg);
}

.northern {
  background-color: var(--northern);
}

.metropolitan {
  background-color: var(--metropolitan);
}

.circle {
  background-color: var(--circle);
}

.victoria {
  background-color: var(--victoria);
}

.piccadilly {
  background-color: var(--piccadilly);
}

.hammersmith-city {
  background-color: var(--hammersmith);
}