:root {
  --northern: #000;
  --metropolitan: #840b55;
  --circle: #ffcd00;
  --victoria: #01a3e0;
  --piccadilly: #10069f;
  --hammersmith: #e89cae;
}

.mount {
  overflow: hidden;
}

.art {
  overflow: hidden;
  max-height: min-content;
  margin: -1vw 0;
}

.square {
  width: 10%;
  height: 6vw;
  fill: tomato;
}

.northern {
  fill: var(--northern);
}

.metropolitan {
  fill: var(--metropolitan);
}

.circle {
  fill: var(--circle);
}

.victoria {
  fill: var(--victoria);
}

.piccadilly {
  fill: var(--piccadilly);
}

.hammersmith-city {
  fill: var(--hammersmith);
}

h1 {
  position: relative;
  width: max-content;
  margin-top: 4vw;
  text-align: center;
}