.frame, .mount {
  display:block;
}

.mount {
  height: 57vh;
}

.art {
  display: grid;
  grid-template-rows
}

.square {
  width: 40px;
  height: 40px;
  background-color: black;
}

.square:nth-child(even) {
  background-color: white;
}