.frame, .mount {
  display:block;
}

.mount {
  height: 57vh;
}

.art {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(2px, 1fr));
  justify-content: center;
  
}

.square {
  width: 50px;
  height: 50px;
  background-color: black;
}

.square:nth-child(even) {
  background-color: white;
}