.frame {
  display: inline-block;
}

.mount{
  display: inline-block;
}

.art {
  display: grid;
  grid-template-columns: repeat(auto-fill, 100px);
  grid-template-rows: repeat(auto-fill, 100px);
  justify-content: center;
}

.canvas {
  width: 100%!important;
  display: grid;
  grid-template-columns: repeat(auto-fill, 10vw);
  justify-content: center;
}

.square {
  width: 100px;
  height: 100px;
  background: repeating-linear-gradient(
  45deg,
  #fff,
  #fff 5%,
  #333 5%,
  #333 10%
);
}

.canvas .square {
  width: 10vw;
  height: 10vw;
}

.rotated {
  transform: rotate(90deg)
}
