/* CSS files add styling rules to your content */

body {
  display: grid;
  border: 50px solid #000;
  padding: 100px;
  box-shadow
}

div {
  width: 200px;
  height: 200px;
  background: repeating-linear-gradient(
  45deg,
  #fff,
  #fff 10px,
  #333 10px,
  #333 20px
);
}

