/* CSS files add styling rules to your content */

body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: auto;
  position: relative;
  padding: 8vw;
  border: 3vw solid #000;
  box-shadow: inset 5px 5px 20px rgba(0, 0, 0, 0.5);
}

body::after {
  content: "";
  position: absolute;
  margin: 0;
  box-shadow: inset 2px 2px 10px rgba(0, 0, 0, 1);
}

.square {
  flex-shrink: 0;
  width: 8vw;
  height: 8vw;
  background: repeating-linear-gradient(
  45deg,
  #fff,
  #fff 5%,
  #333 5%,
  #333 10%
);
}

.rotated {
  transform: rotate(90deg)
}
