body {
  margin: 0;
}

.frame {
  border: 4vw solid black;
  background-color: #eee;
  margin: 2vw;
  box-shadow: inset 5px 5px 20px rgba(0, 0, 0, 0.5);
}

.mount {
  display: block;
  background-color: white;
  margin: 8vw;
  box-shadow: inset 5px 5px 20px rgba(0, 0, 0, 0.5);
  border-top: 10px solid #ddd;
  border-right: 10px solid #fff;
  border-bottom: 10px solid #f3f3f3;
  border-left: 10px solid #ccc;
}

.art {
  width: calc(100vw - 28vw - 20px);
}

